@import '../../config/_variables';

.ug-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $ug-single-column-width;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;

  &--three-column {
    display: grid;
    height: calc(100vh - #{$ug-navbar-height});
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
    grid-auto-rows: min-content;
    align-items: start;
    max-width: none;
  }

  &--is-pristine,
  &--no-results {
    display: flex;
    max-width: none;
    width: 100vw;
    height: calc(100vh - #{$ug-navbar-height});
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: bold;
    background-color: $ug-primary-color-dark;
  }

  .ug-list__item {
    width: 100%;
    height: 100%;
    margin: $ug-margin 0;

    &--is-pristine,
    &--no-results {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &--is-pristine { color: $ug-font-color-light; }
    &--is-loading { color: $ug-secondary-color; }
    &--no-results { color: $ug-accent-color; }
  }

  .ug-list__item-title {
    margin: 0;
  }

  .ug-list__item-subtitle {
    font-family: monospace;
    color: $ug-accent-color;
  }
}

@include tablet {
  .ug-list {
    &--is-pristine,
    &--is-loading,
    &--no-results {
      font-size: 3em;
    }
  }
}

@include mobile {
  .ug-list {
    &--is-pristine,
    &--is-loading,
    &--no-results {
      font-size: 2em;
    }
  }
}
