@import '../../config/_variables';

.ug-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $ug-single-column-width;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;

  &--is-pristine,
  &--is-loading,
  &--no-results {
    max-width: none;
    width: 100vw;
    height: calc(100vh - #{$ug-navbar-height});
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: bold;
    background-color: $ug-primary-color-dark;
  }

  .ug-list__item {
    width: 100%;
    margin: $ug-margin 0;

    &--is-pristine { color: $ug-font-color-light; }
    &--is-loading { color: $ug-secondary-color; }
    &--no-results { color: $ug-accent-color; }
  }

  .ug-list__item-footnote {
    font-size: 0.6em;
    font-family: monospace;
    color: $ug-secondary-color;
  }

  &--three-column {
    display: grid;
    height: calc(100vh - #{$ug-navbar-height});
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-auto-rows: 30%;
    max-width: none;

    .ug-list__item {
      &--is-pristine,
      &--is-loading,
      &--no-results {
        grid-column-start: span 3;
        grid-row-start: none;
      }
    }
  }
}