/**
 * ================================
 * [Color Palettes]
 * ================================
 */
$ug-primary-color: #3D9AE9;
$ug-primary-color-dark: #024AEF;
$ug-primary-color-light: #E5F2FE;
$ug-secondary-color: #F56674;
$ug-secondary-color-dark: #FF3B39;
$ug-secondary-color-light: #F56674;
$ug-accent-color: #FFC432;
$ug-success-color: #FFC432;
$ug-font-color: #748095;
$ug-font-color-dark: #182A40;
$ug-font-color-light: #FFFFFF;
$ug-background-color: $ug-primary-color-light;


/**
 * ================================
 * [Layouts]
 * ================================
 */
$ug-navbar-height: 60px;
$ug-single-column-width: 600px;
$ug-margin: 16px;
$ug-padding: 16px;


/**
 * ================================
 * [Media Query]
 * ================================
 */
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}