@import '../../config/_variables';

.ug-navbar {
  position: fixed;
  width: 100%;
  height: $ug-navbar-height;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $ug-primary-color-dark;

  .ug-navbar__icon {
    width: 60px;
    padding-left: 12px;
    cursor: pointer;
  }

  .ug-navbar__search {
    flex: 1 1 auto;
  }

  .ug-navbar__button-group {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-around;

    .ug-navbar__button {
      flex: 0 1 auto;
    }
  }
}

@include tablet {
  .ug-navbar {
    .ug-navbar__icon {
      width: 48px;
    }

    .ug-navbar__button-group {
      margin-left: $ug-margin;
    }
  }
}

@include mobile {
  .ug-navbar {
    .ug-navbar__icon {
      width: 48px;
    }

    .ug-navbar__button-group {
      margin-left: $ug-margin;
    }
  }
}