@import '../../config/_variables';

.ug-navbar {
  position: fixed;
  width: 100%;
  height: $ug-navbar-height;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $ug-primary-color-dark;

  .ug-navbar__icon {
    width: 60px;
    padding-left: 12px;
    cursor: pointer;
  }

  .ug-navbar__search {
    flex: 1 1 auto;
  }
}