@import './config/_variables';

body {
  background-color: $ug-background-color;
}

.ug-app {
  width: 100vw;

  .ug-message {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: $ug-padding / 2;
    font-size: 1.2em;
    font-weight: 200;
    color: $ug-font-color-light;

    &--is-success { background-color: $ug-success-color; }
    &--is-warning { background-color: $ug-warning-color; }
    &--is-error { background-color: $ug-error-color; }
  }
}
